h2 {
  text-align: center;
}

#mapContainer {
  text-align: center;
}

#map {
  height: 80vh;
  width: 80vw;
  display: inline-block;
  border-radius: 5px;
}

.leaflet-popup-content-wrapper {
  max-height: 200px;
  overflow-y: auto;
}

#radioButtonGroup {
  padding-bottom: 15px;
  text-align: center;
}

input {
  cursor: pointer;
}

p {
  text-align: center;
}